:root {  /*define variables*/
    --primary: rgb(242, 242, 241);
    --accent: rgb(12, 34, 44);
}

body, html { /*set background color*/
    background-color: var(--primary);
}


header { /* set color, makes items flex, pushes items apart */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    width: 100%;
}

h1 { /* set h1 size, margin, and color */
    font-size: 2.5em;
    margin: 20px;
    color: var(--primary);
}

h2 { /* set h2 size, margin and color*/
    font-size: 2em;
    color: var(--accent);
    margin: 1em;
}

a { /* remove link formatting, color links  */
    text-decoration: none;
    color: var(--primary);
}

p { /*set line spacing*/
    line-height: 1.15em;
}

header ul li{ /* remove bullet points, set font size, make spacing, set items inline*/
    list-style-type: none;
    font-size: 40px;
    margin: 10px;
    display: inline;

}


.flexion-section { /* All major content sections, About, Work, Contact, set to flex, make flex items equally share space */
    display: flex;
    flex: 1 1 0; 
}

.section-heading { /* the box containing only the words work, About and Contact me*/
    border-right: 5px solid var(--accent);
    padding-right: 10px;
    flex: 0 0 200px;
    text-align: center;
}

.content-section { /* set div width, center it*/
    max-width: 600px;
    margin: 0 auto;
}

.profile-pic { /* make profile pic small and float right in text*/
    float: right;
    max-height: 200px;
    border: 5px solid var(--accent);
}

.work-section { /* make work section a flexbox*/
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.project-card { /* make each section containing the project image take up half the flexbox, give it a border*/
    position: relative;
    width: 50%;
    border: 5px solid var(--accent);
}

.project-card p { /* make text hover over image*/
    position:absolute;
    bottom: 10px;
    background-color: var(--accent);
    color: var(--primary);
    padding: 5px;
}

.main-project { /* make main project take up a whole line*/
    width: 100%;
}

.work-section img { /* make the image take up a whole div*/
    width:100%;
     
}

.contact-list { /* center contact ul*/
    margin: 20px auto;
}

.contact-list a { /*make links visible and larger in the contact section*/
    color: var(--accent);
    font-weight: bold;
    font-size: 1.2em;
}

.contact-list li { /* formatting list items/style*/
    list-style-type: none;
    display: inline;
    margin: 20px;
}

figure { /*adapted from css file in Challenge 02 file in UW-VIRT-FSF-FT-06-2022-U-LOLC, hero image*/
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    height: 400px;
    width: 100%;
    margin: 0;
    background-image: url(https://live.staticflickr.com/5584/15038954529_4cfba3334b_b.jpg);
    background-size: cover;
    background-position: center;
}

figure h2 { /*make h2 in igure element larger*/
    font-size: 1.75em;
}

footer { /*center footer text*/
    text-align: center;
}
footer p { /*set text color, div width, center div*/
    color: var(--accent);
    max-width: 600px;
    margin: 0 auto;

}
footer p a {  /*set footer link color*/
    color: var(--accent);
}

@media screen and (max-width : 900px){ /* make project change for small screens*/
    header { /* center items, make them a column */
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    header ul li { /* center items */
        display: block;
        text-align: center;
    }
    .flexion-section { /* make items a column */
        flex-direction: column;
    }
    .section-heading { /* move border from right to bottom */
        border-bottom: 5px solid black;
        border-right: 0ch;
        padding: 0;
        max-height: 80px;
    }

    figure { /* center items*/
        justify-content: center;
    }


}