body, html {
    padding: 0;
    border: 0;
    margin:0;
    font-family: sans-serif;
}

header {
    background-color: rgb(13, 82, 82);
    width: 100%;
}

header h1 {
    display: inline-block;
    background-color: aliceblue;
}

header ul li{
    list-style-type: none;
    font-size: 40px;
    margin: 10px;

}



a {
    text-decoration: none;
    color: aliceblue;
}

