* {
    box-sizing: border-box;
}


body, html {
    padding: 0;
    border: 0;
    margin:0;
    font-family: sans-serif;
    background-color: thistle;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 82, 82);
    width: 100%;
}

h1 {
    font-size: 60px;
    margin: 20px;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

header ul li{
    list-style-type: none;
    font-size: 40px;
    margin: 10px;
    display: inline;

}

.flexion-section { /* All major content sections, About, Work, Contact*/
    display: flex;
    flex: 1 1 0;
    background-color: yellow;
}

.section-heading { /* the box containing only the words work, About and Contact me*/
    border-right: 5px solid black;
    padding-right: 10px;
    flex: 0 0 200px;
    text-align: center;
}

.content-section {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
}

.project-card p {
    position:absolute;
    bottom: 10px;
    background-color: whitesmoke;
    padding: 5px;
}

.main-project {
    width: 100%;
    background-color:blue;
}


.flexion-section li {
    list-style-type: none;
    display: inline;
}

/* figure {
    height: 300px;
    width: 100%;
    margin: 0;
    background-image: url(https://place-puppy.com/public-images/index-page/image8/210x280-lg.jpg);
    background-size: cover;
    background-position: center;
} */
/* 
@media screen and (max-width : 900px){
    header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    header ul li {
        display: block;
        text-align: center;
    }
    .flexion-section {
        flex-direction: column;
    }
    .section-heading {
        border-bottom: 5px solid black;
        border-right: 0ch;
    }

} */